<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :ign, placeholder: "MrQuackers", required: true, label: "Summoner Name" %>
    <%= f.input :server, required: true, priority: ['NA'], collection: ['NA', 'EUW', 'EUNE', 'BR', 'TR', 'SEA', 'TW'] %>
    <%= f.input :roles, required:true, priority: ['Top'], collection: ['Top', 'Mid', 'Jungle', 'AD Carry', 'Support'], boolean_style: :inline, :input_html => {:multiple => 'multiple'} %>
    <%= f.input :type, required: true, priority: ['Student'], collection:['Student', 'Mentor'], boolean_style: :inline%>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
