<%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:ign) %></th>
      <th><%= model_class.human_attribute_name(:server) %></th>
      <th><%= model_class.human_attribute_name(:roles) %></th>
      <th><%= model_class.human_attribute_name(:tier) %></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.ign, user_path(user) %></td>
        <td><%= user.server %></td>
        <td><%= user.roles %></td>
        <td><%= user.tier %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>
