<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pentakill University - <%= content_for?(:title) ? yield(:title) : "League of Legends Mentorship Hub" %></title>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= nav_bar :fixed => :top, :inverse => true, :brand => "Pentakill University", :responsive => true do %>
      <% menu_group :pull => :right do %>
        <%= menu_item "Find Students", students_path %>
        <%= menu_item "Find Mentors", mentors_path %>
        <% if user_signed_in? %>
          <%= menu_item "Log Out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= menu_item "Sign In", new_user_session_path %>
          <%= menu_item "Sign Up", new_user_registration_path %>
        <% end %>
      <% end %>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="span12">
          <%= bootstrap_flash %>
          <% if (user_signed_in? && !current_user.summoner_verified?) %>
            <div class="alert alert-info">Your summoner isn't verified yet. Please change one of your rune page names to '<%= current_user.verify_code %>' and click the verify button.<br>
              <%= link_to "Verify", user_verify_path, :class => 'btn btn-primary' %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <footer>
        <p>&copy; Pentakill University 2013</p>
      </footer>
    </div>
  </body>
</html>
